# Next.js
.next/
out/
next-env.d.ts

# Build
build/
dist/

# Node
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs / debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env*.local

# Vercel
.vercel
